<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 对应的是接口的全名 -->
<mapper namespace="com.suyike.mapper.UserMapper">
    <sql id="Base_Column_List">
        id,`user`,username,`password`,sex,shenfen,phone,adddate
    </sql>
    <select id="list" resultType="com.suyike.bean.user">
        select <include refid="Base_Column_List" /> from user
    </select>
    <insert id="addUser" parameterType="com.suyike.bean.user">
        insert into user (id,user,username,password,sex,phone,shenfen,adddate)values (null,#{user},#{username},#{password},null,#{phone},#{shenfen},#{adddate})
    </insert>
    <select id="selectbyUser" resultType="com.suyike.bean.user">
        select * from user
        where
        <if test="user!=null and user!=''">
            user= #{user}
        </if>
    </select>
</mapper>